:root {
  --font-family: "Comfortaa", sans-serif;
  --second-family: "Yeseva One", sans-serif;
  --third-family: "Roboto", sans-serif;

  --color-beige: #bea495;
	--color-yellow: #ffbd59;
	--color-gray: #fafafa;
	--color-beige2: #7b6152;
	--color-beige3: #a5978e;
	--color-pink: #fff8f3;
	--color-black: #000;
}

html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--color-black);
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}

.menu__btn span {
  height: 1px;
  background-color: var(--color-beige2);
  width: 100%;
}

.header {
  background-color: var(--color-pink);
}

.header__inner {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__list-item{
  transition: .3s ease;
}

.menu__list-item:hover .menu__list-link {
  color: rgb(150, 61, 233);
}

.menu__list-link{
  text-transform: uppercase;
}

.phone {
  position: relative;
}

.phone::before{
  content: '';
  position: absolute;
  background-image: url(../img/icon/phone.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  left: -23px;
  top: -3px;
}

.main {
  background-color: var(--color-pink);
  overflow-x: clip;
}

.top{
  padding:40px 0 150px;
}

.top__inner {
  position: relative;
}

.top__content {
  width: 370px;
  padding: 150px 0 250px;
}

.top__titel {
  font-family: var(--second-family);
  font-size: 30px;
  margin-bottom: 15px;

}

.top__text {
  margin-bottom: 48px;
}

.top__btn {
  font-family: var(--font-family);
  padding: 18px 54px;
  font-weight: 600;
  font-size: 14px;
  background-color: var(--color-yellow);
}

.top__btn:hover {
  background-color: #f1b204;
}

.top__img {
  position: absolute;
  top: 0;
  left: 240px;
}

.about {
  background-color: var(--color-beige3);
  padding: 50px 0;
  color: var(--color-gray);
}

.about__inner {
  display: flex;
  align-items: center;
}

.about__conntent {
  min-width: 370px;
}

.about__titel{
  font-size: 40px;
  margin-bottom: 15px;
}

.about__text{
  margin-bottom: 15px;
}

.about__list{
  display: flex;
  padding-left: 110px;
  padding-bottom: 48px;
  align-items: center;
  gap:0 20px;
  flex-basis: 930px;
  position: relative;
}

.about__list::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url('../img/images/about-decor.svg');
  width: 22px;
  height: 30px;
}

.about__list::after{
  content: '';
  position: absolute;
  left: 22px;
  bottom: 13px;
  background-color: var(--color-beige2);
  width: 1000%;
  height: 1px;
}



.about__item-img {
  margin-bottom: 10px;
}

.about__item-text {
  font-size: 11px;
}










.footer {
  padding: 40px 0 35px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  display: flex; 
  flex-direction: column;
  width: 230px;
}

.footer__email {
  margin: 17px 0;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social__img {
  transition: .3s ease;
}

.footer-social__img:hover {
  transform: rotate(360deg);
  color: rgb(150, 61, 233);
}

@media (max-width: 1000px){
  .container {
    padding: 0 20px;
  }
  .top__content {
    width: 333px;
    padding: 95px 0 70px;
  }
  .top__img-L {
    width: 655px;
  }
  .top__img {
    left: 300px;
  }
  .top__text {
    margin-bottom: 30px;
  }
  .about__conntent {
    min-width: 300px;
  }
  .about__list {
    padding-left: 20px;
  }
}

@media (max-width: 900px){
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__contacts {
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  .footer-social {
    justify-content: center;
  }
}

@media (max-width: 768px){
  body {
    font-size: 10px;
  }
  .container {
    max-width: 640px;
  }
  .phone::before{
    width: 14px;
    height: 14px;
    left: -16px;
    top: -2px;
  }
  .top__content {
    width: 230px;
  }
  .top__titel {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .top__text {
    margin-bottom: 20px;
  }
  .top__img {
    left: 180px;
  }

  .about__conntent{
    min-width: 200px;
  }
  .titel {
    font-size: 15px;
  }
  .about__titel{
    margin-bottom: 20px;
  }
  .about__list {
    margin-left: 27px;
    margin-bottom: 33px;
    gap: 0 10px;
  }
  .about__item-text {
    font-size: 6px;
  }
  .about__item-img {
    margin-bottom: 6px;
  }

  .about__item-img--1,
  .about__item-img--3 {
    width: 120px;
  }

  .about__item-img--2 {
    width: 190px;
  }


}

@media (max-width: 640px){

  .container {
    padding: 0 10px;
  }
  .header__menu--list {
    width: 153px;
    background-color:var(--color-beige2);
    color: var(--color-pink);
    flex-direction: column;
    gap:  20px 0;
    padding: 25px 35px 45px 25px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-110%);
    transition: transform .5s ease;
    z-index: 5;
  }

  .header__menu--list.menu--open {
    transform: translateY(0%);
    
  }

  .menu__btn {
    display: flex;
  }

  .header__menu {
    order: 1;
  }

}

@media (max-width: 500px){
  .footer {
    padding: 50px 0;
    font-size: 14px;
  }
  .footer__inner {
    flex-direction: column;
  }

  .footer__menu {
    padding: 50px 0;
    text-align: center;
  }

  .footer__menu-list {
    flex-direction: column;
  }
}

@media(max-width: 480px){
  .top{
    padding: 30px 0 50px;
  }
  .top__img-L {
    width: 309px;
    left: 167px;
  }
  .top__content {
    width: 180px;
  }
  .top__text {
    font-size: 8px;
    margin-bottom: 15px;
  }
  .top__titel{
    font-size: 15px;
    margin-bottom: 15px;
  }
  .top__btn {
    font-size: 10px;
    padding: 14px 41px;
  }

  .about__inner {
    align-items: flex-end;
  }
  .about__conntent {
    max-width: 170px;
  }
  .about__list {
    margin-left: 0;
    padding-left: 10px;
    gap:0 5px;
    align-items: flex-end;
    margin-bottom: 0;
  }
  .about__item-text {
    display: none;
  }
  .about__item-img--1,
  .about__item-img--3 {
    width: 80px;
  }
  .about__item-img--2 {
    width: 140px;
  }
}

@media(max-width: 360px){
  
  .top__img-L {
    width: 160px;
  }

  .top__img {
    left: auto;
    right: 0;
  }

  .top__content {
    width: 200px;
    padding: 20px 0 0;
  }
  .top__text {
    font-size: 10px;
  }
  .top__titel{
    font-size: 17px;
  }

  body {
    font-size: 8px;
  }
  .about{
    padding: 25px 0 10px;
  }
  .about__conntent {
    min-width: 233px;
  }

  .titel {
    margin-bottom: 10px;
  }

  .about__list {
    padding-left: 12px;
    margin-left: 12px;
    gap:0 15px;
    padding-bottom: 30px;
  }
  .about__item-img--2 {
    display: none;
  }

}



